<mat-toolbar color="primary" style="min-height: 150px">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
        <span style="flex: 1 1 auto"></span>
        <a href="#home" mat-stroked-button>
            <mat-icon>navigation</mat-icon>TOP
        </a>
        <span style="flex: 1 1 auto"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="flex: 1 1 auto"></span>
        <p class="mat-body">&copy;2019</p>
        <span style="flex: 1 1 auto"></span>
    </mat-toolbar-row>
</mat-toolbar>