<app-section-header title="About"></app-section-header>

<div style="text-align: center; max-width: 1000px; margin: auto">

    <p></p>

    <div style="display: flex">
        <mat-card style="flex: 50%; margin-right: 15px">
            <mat-card-header>
                <mat-card-title>Nathan Skelton</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://usatsneakhype.files.wordpress.com/2015/12/mark-zuckerberg-memes-7.jpeg">
        </mat-card>
        <mat-card style="flex: 50%">
            <p>I'm a junior Computer Science student at Missouri University of Science and Technology (MS&T), hopefuly graduating in May 2021. I spend my time in Rolla, Missouri, primarily with the university's Mars Rover Design Team (MRDT), and personal project listed below.</p>
            <p>During summers, I'm either home in Saint Louis, or working an internship. If you're an employer/recruiter reading this, I'm looking for an opportunity for Summer 2020.</p>
            <p>Outside of my career, I spend a solid chunk of time gaming, or pursuing activites in the outdoors, ranging from hiking, photography, or sports like Baseball.</p>
            <mat-card-content>
                <mat-chip-list class="centered-chip-list" style="margin-bottom: 7px">
                    <mat-chip>Fishing</mat-chip>
                    <mat-chip>Cooking</mat-chip>
                    <mat-chip>Hiking</mat-chip>
                    <mat-chip color="primary" selected>Programming</mat-chip>
                    <mat-chip>Gaming</mat-chip>
                    <mat-chip>Baseball</mat-chip>
                    <mat-chip>Driving</mat-chip>
                    <mat-chip>Photography</mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>
    </div>

    <p></p>

    <mat-card>
        <mat-list>
            <h3 mat-subheader>Skills</h3>
            <mat-list-item *ngFor="let skill of skills">
                <p style="flex: 30%; text-align: left">{{skill.name}}</p>
                <p style="flex: 10%; text-align: left">{{skill.value}}%</p>
                <mat-progress-bar style="min-height: 20px" mode="determinate" value="{{skill.value}}">
                </mat-progress-bar>
            </mat-list-item>
        </mat-list>
    </mat-card>

    <p></p>

</div>