<mat-toolbar>About Me</mat-toolbar>

<div style="text-align: center">

    <mat-chip-list>
        <mat-chip>Outdoors</mat-chip>
        <mat-chip>Cooking</mat-chip>
        <mat-chip>Hiking</mat-chip>
        <mat-chip color="primary" selected>Programming</mat-chip>
    </mat-chip-list>
    
    <p>Some content here about myself...</p>
    <p>Probably a headshot here. Maybe funny qualities.</p>
    <p>I like to think im good at some things:</p>

    <div style="display: table">
        <p style="display: table-cell">Photography</p>
        <mat-progress-bar style="display: table-cell; width: 300px" mode="determinate" value="40"></mat-progress-bar>
    </div>

</div>


