<mat-toolbar class="mat-elevation-z6 app-navbar">
    <span class="spacer"></span>
    <a href="#home" mat-button class="button"><mat-icon>home</mat-icon> HOME</a>
    <a href="#about" mat-button class="button"><mat-icon>person</mat-icon> ABOUT ME</a>
    <a href="#portfolio" mat-button class="button"><mat-icon>assignment</mat-icon> PROJECT PORTFOLIO</a>
    <a href="#resume" mat-button class="button"><mat-icon>insert_drive_file</mat-icon> RESUME</a>
    <a href="#contact" mat-button class="button"><mat-icon>phone</mat-icon> CONTACT</a>
    <span class="spacer"></span>
</mat-toolbar>
