<app-section-header title="Contact"></app-section-header>

<div style="text-align: center">
    <p>Here are some avenues of communication I look at. Email, by far, is prefered.</p>
</div>
<div style="text-align: center">
    <a href="mailto:nathan.hunter.skelton@google.com" mat-stroked-button><mat-icon>email</mat-icon>Email</a>
    <a href="http://github.com/skeltonn" mat-stroked-button style="margin-left: 8px;"><mat-icon>link</mat-icon>Github</a>
    <a href="http://linkedin.com/in/nathaniel-skelton" mat-stroked-button style="margin-left: 8px;"><mat-icon>link</mat-icon>Linked-In</a>
</div>
<p></p>
