<mat-toolbar color="primary">
        <span style="flex: 1 1 auto"></span>
        <span>Contact</span>
        <span style="flex: 1 1 auto"></span>
    </mat-toolbar>

<div style="text-align: center">
    <p>If you try to call me i'm not gonna like it. Otherwise, go for it:</p>
</div>
<div style="text-align: center">
    <button mat-stroked-button style="margin-right: 8px;"><mat-icon>email</mat-icon>Email</button>
    <button mat-stroked-button style="margin-right: 8px;"><mat-icon>link</mat-icon>Github</button>
    <button mat-stroked-button><mat-icon>link</mat-icon>Linked-In</button>
</div>
<p></p>
