<app-section-header title="Project Portfolio"></app-section-header>

<div style="text-align: center; max-width: 1000px; margin: auto">

	<p></p>

	<mat-form-field appearance="standard" style="width: 100%">
		<mat-label>Filter Projects</mat-label>
		<mat-chip-list #chipList>
			<mat-chip *ngFor="let chip of chips" [selectable]="selectable" [removable]="removable"
				(removed)="remove(chip)">
				{{chip}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>
			<input #chipInput [formControl]="chipCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
				(matChipInputTokenEnd)="add($event)">
		</mat-chip-list>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
			<mat-option *ngFor="let chip of filteredChips | async" [value]="chip">
				{{chip}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>

	<p></p>

	<mat-grid-list cols="3" rowHeight="2:3" gutterSize="10px">
		<mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
			<mat-card class="dashboard-card">
				<mat-card-header>
					<mat-card-title>{{tile.title}}</mat-card-title>
				</mat-card-header>
				<img mat-card-image src={{tile.image}}>
				<mat-card-content>
					<mat-chip-list>
						<mat-chip *ngFor="let chip of tile.chips">{{chip}}</mat-chip>
					</mat-chip-list>
					<p>{{tile.text}}</p>
				</mat-card-content>
				<mat-card-actions>
					<button mat-button>GITHUB</button>
				</mat-card-actions>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
	<p></p>
</div>